<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.driver.go" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.driver.go.base.DriverGoApplication"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.driver.go.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PracticeOrderActivity"/>
        <activity android:name=".activity.RecitePracticeOrderActivity"/>
        <activity android:name=".activity.PracticeRandomActivity"/>
        <activity android:name=".activity.PractiseWrongQuestionActivity"/>
        <activity android:name=".activity.CollectQuestionsActivity"/>
        <activity android:name=".activity.DriverTipActivity"/>
        <activity android:name=".activity.DriverExamSkillActivity"/>
        <activity android:name=".activity.ExamMainActivity"/>
        <activity android:name=".activity.ExamWrongQuestionActivity"/>
    </application>

</manifest>